body {
  font-family: "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: rgba(0, 0, 0, 0.08)
}
.navbar a {color: #9d9d9d !important;}

.navbar a:hover{color:#fff !important;}

.bg-dark {
  background: rgba(45,45,45,0.98) !important;
}